body{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)) ,url(../img/bg01.jpg);
  background-size: cover;
  background-attachment: fixed;
}
main{
  margin-top: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
main h1{
  font-size: 40px;
}
p{
  color: #B4B6B9;
}