#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -16.5rem;
  background-color: #f1f2f3;
}
.user_email {
  font-size: 11px;
}
.para {
  font-weight: 50px;
}
.list-group {
  width: 15rem;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
.list-group-item {
  border: none;
  padding: 20px 30px;
}
#page-content-wrapper {
  min-width: 100vw;
  background-color: rgb(249, 249, 249);
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -16.5rem;
  }
}

.Weclome{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.part2{
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 50px;
    
}

.carts{
    background-color: #fff;
    border: 3px solid wheat ;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    
}

#search-img {
  position: absolute;
  top: 6px;
  left: 3px;
  color: #9ca3af;
}
#search-bar {
  width: 30rem;
  text-indent: 1.4rem;
}


